body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: antiquewhite;
  font-family: sans-serif;
}
.login-box {
  position: relative;
  margin: 10% auto;
  height: 400px;
  width: 600px;
  background: palegoldenrod;
  box-shadow: 0 2px 4px rgba, (0, 0, 0, 0.8);
}
.left-box {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}
