html {
  margin: 0;
  height: 100%;
}

body {
  font-size: 25px;
}
* {
  box-sizing: border-box;
}
.container {
  border-radius: 6px;
  background-color: snow;
  padding: 20px 0 30px 0;
  border: solid 1px;
  justify-content: center;
  position: absolute;
}
.vertical {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid whitesmoke;
  height: 180px;
}
.vertical-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 1px solid ghostwhite;
  border-radius: 50px;
  padding: 8px 10px;
}
input,
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
.input:hover,
.btn:hover {
  opacity: 1;
}
.twitter {
  background-color: #66c2ff;
  color: whitesmoke;
  letter-spacing: 4px;
}
.facebook {
  background-color: #006bb3;
  color: whitesmoke;
  letter-spacing: 4px;
}
.Google {
  background-color: #ff1a1a;
  color: whitesmoke;
  letter-spacing: 4px;
}
input[type="submit"] {
  background-color: #006bb3;
  color: azure;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: burlywood;
}
.column {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;

  margin-top: 6px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.bottom-container {
  background-color: cyan;
  border-radius: 2px 0px 2px 2px;
  display: flex;
  margin: 20px auto;
  align-items: center;
  position: absolute;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  border: solid 1px;
  justify-content: center;
}
.input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
