body {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
* {
  box-sizing: border-box;
}
.container {
  border-radius: 6px;
  background-color: rgb(241, 248, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  position: absolute;
  width: 50vw;
}
.vertical {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid rgb(211, 25, 25);
  height: 180px;
  height: 250px;
}
.vertical-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(219, 130, 130);
  border: 2px solid rgb(170, 100, 83);
  border-radius: 50px;
  padding: 8px 10px;
}
input,
.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
.input:hover,
.btn:hover {
  opacity: 1;
}
.twitter {
  background-color: #66c2ff;
  color: whitesmoke;
  letter-spacing: 4px;
  padding: 20px;
  justify-content: center;
  font-size: 30px;
}
.facebook {
  background-color: #006bb3;
  color: whitesmoke;
  letter-spacing: 4px;
  padding: 20px;
  justify-content: center;
  font-size: 30px;
}
.Google {
  background-color: #ff1a1a;
  color: whitesmoke;
  letter-spacing: 4px;
  padding: 20px;
  justify-content: center;
  font-size: 30px;
}
input[type="submit"] {
  background-color: #bebc32;
  color: rgb(52, 53, 12);
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: burlywood;
}
.column {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.bottom-container {
  background-color: rgb(210, 223, 223);
  display: flex;
  width: 50vw;
  margin: 0;
  border: 2px black solid;
  justify-content: center;
}
.input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn1 {
  padding: 14px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
.text {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
